appnope==0.1.0
astroid==2.2.5
autopep8==1.4.3
backcall==0.1.0
beautifulsoup4==4.6.3
bs4==0.0.1
Click==7.0
cloudpickle==0.5.5
cycler==0.10.0
dask==0.19.0
decorator==4.4.0
Django==2.1.1
dlib==19.15.0
EasyProcess==0.2.3
face-recognition==1.2.3
face-recognition-models==0.3.0
facebook-sdk==3.0.0
Flask==1.0.2
future==0.16.0
ImageScraper==2.0.7
ipython==7.4.0
ipython-genutils==0.2.0
isort==4.3.16
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lxml==4.2.1
MarkupSafe==1.1.1
matplotlib==2.2.3
mccabe==0.6.1
modus==0.0.36
networkx==2.1
numpy==1.15.1
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.2.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycodestyle==2.5.0
Pygments==2.3.1
pylint==2.3.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyVirtualDisplay==0.2.1
PyWavelets==1.0.0
requests==2.12.4
scikit-image==0.14.0
scikit-learn==0.19.2
scipy==1.1.0
selenium==3.14.0
setproctitle==1.1.10
simplegeneric==0.8.1
SimplePool==0.1
six==1.12.0
tabulate==0.8.2
toolz==0.9.0
traitlets==4.3.2
typed-ast==1.3.1
urllib3==1.23
wcwidth==0.1.7
Werkzeug==0.15.1
wrapt==1.11.1
