{% extends 'base.html' %}

{% block content %}
  <div>
    <h1>Cadastra novo usuário</h1>
    <a href="{{url_for('index')}}">🔙 Voltar</a>
  </div>

  <form action="{{url_for('index')}}" method="POST">
    <div>
      <label>Nome completo</label>
      <input type="text" name="fullname">
    </div>

    <div>
      <label>Nome curto</label>
      <input type="text" name="nickname">
    </div>

    <div>
      <label>Cargo</label>
      <input type="text" name="role">
    </div>

    <div>
      <label>Nível de acesso</label>
      <select name="access_level">
        <option value="">Selecione...</option>
        {% for access_level in access_levels %}
          <option value="{{access_level}}">{{ access_level }}</option>
        {% endfor %}
      </select>
    </div>
  </form>
{% endblock %}
