{% extends 'base.html' %}
{% block content %}
<div class="content-center">
<h2>Bem vindo {{user.nickname}}</h2>
<a class="important" href="{{url_for('admin_users')}}">🔙 Voltar</a>
<p>Você está logado como {{user.access_level}}</p>

<img src="https://www.stonebranch.com/fileadmin/_processed_/f/8/csm_teaser-happy-customer_34cff504ac.png"
    alt="placeholder" width="100px" height="100px" ">
<h3>Editar esse usuário</h3>
<form method="POST" action="{{url_for('show', nickname=user.nickname)}}?_method=PATCH">
    <div class="container-label">
        <label>Nome completo</label>
        <input type="text" name="fullname" value="{{user.fullname}}" required>
    </div>

    <div class="container-label">
        <label>Nome curto</label>
        <input type="text" name="nickname" value="{{user.nickname}}" required>
    </div>

    <div class="container-label">
        <label>Cargo</label>
        <input type="text" name="role" value="{{user.role}}" required>
    </div>

    <div class="container-label">
        <label>Nível de acesso</label>
        <select name="access_level" required>
            <option value="">{{user.access_level}}</option>
            {% for access_level in access_levels %}
            <option value="{{access_level}}">{{ access_level }}</option>
            {% endfor %}
        </select>
    </div>
    <input type="hidden" name="last_access">

    <input class="insert inverted" type="submit" value="✎ Editar usuário">
</form>
<form method="POST" action="{{url_for('show', nickname=user.nickname )}}?_method=DELETE">
    <input class="insert" type="submit" value="🗑 Excluir usuário" onclick="return confirm('Are you sure?')">
</form>
</div>
{% endblock %}
